$corDeFundo: #040714;
$codTextoPrincipal: silver;
$corTextoSecundario: #f9f9f9;
$corFundoButtonCombos: #02d6e8;
$corFundoEfeitoButtonCombo: #ffd700;
$corDeFundoBtnStar: #760e37;
$corDeFundoBtnStarzplay: #e26433;
$corDeFundoBotaoPrimario: #02d6e8;