.watch-anywhere{
    padding:  5.6vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    img{
        max-width: 100%;
    }

    .watch-anywhere__text_container{
        padding: 0 2vw;

        h2{
            margin-bottom: 24px;
        }
    }
}

.walpaper{
    padding:  5.6vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50%;
    
    align-items: center;
    background-image: url(/src/images/fundo_rei_leao.png);
    height: 60vw;

    img{
        width: 100%;
    }
}

.watch-anywhere__text_container__walpaper{
    float: right;
    p{
        width: calc(100% - 5.6vw);
    }
    h2{
        margin-bottom: 24px;
    }
}

@media (max-width: 768px) {
    .walpaper{
        display: block;
        background-image: url('/src/images/fundo_rei_leao.png');
    }
}


